<!DOCTYPE html>
<html lang="pt-br" ng-app="reportsApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reports MED-APP</title>
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/main.css">
    <script src="src/utils/angular/angular.min.js"></script>
    <script src="src/js/app.js"></script>
    <script src="src/components/listagem-apostilas/listagem-apostilas.component.js"></script>
    <script src="src/components/cadastro/cadastro.component.js"></script>
    <script src="src/utils/angularfire/dist/angularfire.js"></script>
    <script src="src/utils/firebase/firebase.js"></script>
    <script src="src/js/mostra-cadastro.js"></script>
    <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyBOUSi4PnpCCAL3FnVjBz3E_IZQk6d3wVk",
          authDomain: "reportswebapp.firebaseapp.com",
          databaseURL: "https://reportswebapp.firebaseio.com",
          projectId: "reportswebapp",
          storageBucket: "reportswebapp.appspot.com",
          messagingSenderId: "592613138489"
        };
        firebase.initializeApp(config);
      </script>
</head>

<body>

    <cadastro></cadastro>

    <header>
        <p class="title">Relatórios</p>
        <nav>
            <div class="nav-box">
                <p>Sprint</p>
                <select ng-model="sprint" name="sprint" class="selectFilter">
                    <option value="">Selecione uma sprint</option>
                    <option value="Semana 01">Semana 01</option>
                    <option value="Semana 02">Semana 02</option>
                    <option value="Semana 03">Semana 03</option>
                </select>
            </div>
            <div class="nav-box">
                <p>Apostila</p>
                <select ng-model="apostila" name="apostila" class="selectFilter">
                    <option value="">Selecione uma apostila</option>
                    <option value="Cir 01">Cir 01</option>
                    <option value="Nef 01">Nef 01</option>
                    <option value="Med-Cir 01">Med-Cir 01</option>
                    <option value="Gin 01">Gin 01</option>
                </select>
            </div>
            <div class="nav-box">
                <p>Situação</p>
                <select ng-model="situacao" name="situacao" class="selectFilter">
                    <option value="">Selecione uma situação</option>
                    <option value="T2, fluxo diagramação">T2, fluxo diagramação</option>
                    <option value="Na rua">Na rua</option>
                </select>
            </div>
        </nav>
        <button onclick="mostraCadastro()" class="mostra-cadastro">Cadastrar novo relatório</button>
    </header>

    <listagem-apostilas></listagem-apostilas>

</body>

</html>