<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reports MED-APP</title>
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/main.css">
    <script src="src/utils/angular/angular.min.js"></script>
    <script src="src/js/main.js"></script>
    <script src="src/js/mostra-cadastro.js"></script>
</head>

<body ng-app="reportsApp" ng-controller="reportsObjCtrl">

    <section class="cadastro">
        <div class="caixa-cadastro">
            <button onclick="fechaCadastro()" class="fecha-cadastro">X</button>
            <p>Cadastre um novo relatório</p>
        </div>
        <input ng-model="daily.sprint" class="form-cadastro" type="text" placeholder="Sprint">
        <input ng-model="daily.apostila" class="form-cadastro" type="text" placeholder="Apostila">
        <input ng-model="daily.feito" class="form-cadastro" type="text" placeholder="Feito">
        <input ng-model="daily.falta" class="form-cadastro" type="text" placeholder="Falta">
        <input ng-model="daily.impedimentos" class="form-cadastro" type="text" placeholder="Impedimentos">
        <input ng-model="daily.situacao" class="form-cadastro" type="text" placeholder="Situação">
        <button ng-click="cadastraRelatorio(daily)">Cadastrar</button>
    </section>

    <header>
        <p class="title">Relatórios</p>
        <nav>
            <div class="nav-box">
                <p>Sprint</p>
                <select ng-model="sprint" name="sprint" class="selectFilter">
                    <option value="">Selecione uma sprint</option>
                    <option value="Semana 01">Semana 01</option>
                    <option value="Semana 02">Semana 02</option>
                    <option value="Semana 03">Semana 03</option>
                </select>
            </div>
            <div class="nav-box">
                <p>Apostila</p>
                <select ng-model="apostila" name="apostila" class="selectFilter">
                    <option value="">Selecione uma apostila</option>
                    <option value="Cir 01">Cir 01</option>
                    <option value="Nef 01">Nef 01</option>
                    <option value="Med-Cir 01">Med-Cir 01</option>
                    <option value="Gin 01">Gin 01</option>
                </select>
            </div>
            <div class="nav-box">
                <p>Situação</p>
                <select ng-model="situacao" name="situacao" class="selectFilter">
                    <option value="">Selecione uma situação</option>
                    <option value="T2, fluxo diagramação">T2, fluxo diagramação</option>
                    <option value="Na rua">Na rua</option>
                </select>
            </div>
        </nav>
        <button onclick="mostraCadastro()" class="mostra-cadastro">Cadastrar novo relatório</button>
    </header>

    <section class="main-content">

        <div class="reports-obj-block">
            <div id="reports-object">
                <div class="reports-box" ng-repeat="value in dailyArray | filter:sprint | filter:apostila | filter:feito | filter:falta | filter:impedimentos | filter:situacao">
                    <div class="nome-apostila">{{value.apostila}}</div>
                    <div class="sprint-apostila">
                        <div class="sprint-apostila__text">{{value.sprint}}</div>
                    </div>
                    <div class="feito-apostila">{{value.feito}}</div>
                    <div class="falta-apostila">{{value.falta}}</div>
                    <div class="impedimentos-apostila">{{value.impedimentos}}</div>
                    <div class="situacao-apostila">{{value.situacao}}</div>
                    <button class="change-reports">Modificar</button>
                </div>
            </div>
        </div>

    </section>

</body>

</html>