<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reports MED-APP</title>
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/main.css">
    <script src="src/utils/angular/angular.min.js"></script>
    <script src="src/js/controllers/reportsObjCtrl.js"></script>
    <!-- <script src="src/js/main.js"></script> -->
</head>

<body ng-app="reportsApp">

    <header>
        <p class="title">App Relatórios</p>
    </header>

    <section ng-controller="reportsObjCtrl" class="main-content">

        <nav>
            <p>Tipo de relatório</p>
            <p>Sprint</p>
            <select ng-model="sprint" name="sprint" class="selectFilter">
                <option value="">Selecione uma sprint</option>
                <option value="Semana 01">Semana 01</option>
                <option value="Semana 02">Semana 02</option>
                <option value="Semana 03">Semana 03</option>
            </select>
            <p>Apostila</p>
            <select ng-model="apostila" name="apostila" class="selectFilter">
                <option value="">Selecione uma apostila</option>
                <option value="Cir 01">Cir 01</option>
                <option value="Nef 01">Nef 01</option>
                <option value="Med-Cir 01">Med-Cir 01</option>
                <option value="Gin 01">Gin 01</option>
            </select>
            <p>Situação</p>
            <select ng-model="situacao" name="situacao" class="selectFilter">
                <option value="">Selecione uma situação</option>
                <option value="T2, fluxo diagramação">T2, fluxo diagramação</option>
                <option value="Na rua">Na rua</option>
            </select>
        </nav>

        <div class="reports-obj-block">
            <table id="reports-object">
                <thead>
                    <tr>
                        <th>Sprint</th>
                        <th>Apostila</th>
                        <th>Feito</th>
                        <th>Falta</th>
                        <th>Impedimentos</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody id="reports-object__value">
                    <tr ng-repeat="value in daily | filter:sprint | filter:apostila | filter:feito | filter:falta | filter:impedimentos | filter:situacao">
                        <td>{{value.sprint}}</td>
                        <td>{{value.apostila}}</td>
                        <td>{{value.feito}}</td>
                        <td>{{value.falta}}</td>
                        <td>{{value.impedimentos}}</td>
                        <td>{{value.situacao}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="cadastro">
            <input ng-model="daily.sprint" class="formCadastro" type="text" placeholder="Sprint">
            <input ng-model="daily.apostila" class="formCadastro" type="text" placeholder="Apostila">
            <input ng-model="daily.feito" class="formCadastro" type="text" placeholder="Feito">
            <input ng-model="daily.falta" class="formCadastro" type="text" placeholder="Falta">
            <input ng-model="daily.impedimentos" class="formCadastro" type="text" placeholder="Impedimentos">
            <input ng-model="daily.situacao" class="formCadastro" type="text" placeholder="Situação">
            <button ng-click="cadastraRelatorio(daily)">Cadastrar</button>
        </div>

    </section>

</body>

</html>