.filter {
  font-family: sans-serif;
  background: transparent; }

.nav-wrapper {
  margin: auto; }

nav {
  background-color: #383B42;
  box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 200px; }
  nav img {
    margin: 10px 20px;
    width: 150px; }
  nav .title {
    color: #F6F6EF;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    background-color: #34363A;
    border-bottom: 1px solid rgba(101, 116, 134, 0.57);
    box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
    line-height: 60px;
    margin: 0; }
  nav li {
    border-bottom: 1px solid #42454D;
    border-top: 1px solid #2E3036;
    padding-left: 48px;
    transition: all 0.6s;
    width: -webkit-fill-available; }
    nav li a {
      color: #b3b3b3;
      font-size: 18px;
      letter-spacing: 1px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      line-height: 55px;
      position: relative;
      transition: all 0.6s; }

.page-title {
  background-color: #fff;
  border-bottom: 1px solid #C0C1C0;
  display: block;
  height: 60px;
  margin-left: 200px; }
  .page-title h2 {
    color: #919191;
    font-size: 20px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px #fff;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
    padding-left: 40px;
    position: relative; }
    .page-title h2::before {
      background-color: #383B42;
      content: '';
      left: -19px;
      height: 36px;
      position: absolute;
      transform: rotate(45deg);
      top: 12px;
      width: 36px; }

.presentation {
  display: flex;
  flex-direction: column;
  margin: 30px 0; }
  .presentation .title {
    font-size: 3em;
    border-left: 5px solid;
    margin: auto;
    padding-left: 10px; }
  .presentation .presentation__box {
    margin: auto; }

.cadastro {
  height: 100%;
  width: 100%; }
  .cadastro .cadastro__caixa {
    background: rgba(56, 56, 56, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    overflow: hidden;
    padding: 30px;
    width: 343px; }
    .cadastro .cadastro__caixa--titulo p {
      color: #111;
      font-size: 32px;
      font-weight: 600;
      border-left: 5px solid #111;
      margin: 0 0 35px;
      padding: 10px 0 10px 50px;
      position: relative;
      z-index: 1; }
  .cadastro .form-cadastro {
    color: #212121;
    font-size: 24px;
    font-weight: 400;
    background: none;
    border: 0;
    height: 60px;
    outline: none;
    position: relative;
    width: 100%;
    z-index: 1; }
    .cadastro .form-cadastro:focus {
      width: 100%;
      transition: 2s; }
  .cadastro .buttons {
    display: flex;
    margin: 20px 0; }
    .cadastro .buttons a {
      margin: 20px auto; }

.main-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  margin-bottom: 20vh; }
  .main-content table.highlight.apo-table > tbody > tr:hover {
    background-color: rgba(119, 128, 195, 0.5); }

.reports-obj-block {
  width: 100%; }

.filter {
  color: #b3b3b3;
  font-size: 18px;
  letter-spacing: 2px; }
  .filter .nav {
    background: #383B42;
    padding: 15px 0; }
    .filter .nav .nav-title {
      margin-left: 15px;
      margin-top: 0;
      padding-top: 0; }
    .filter .nav .nav-box {
      display: flex; }
      .filter .nav .nav-box .filter-box {
        display: flex;
        margin: auto; }
        .filter .nav .nav-box .filter-box p {
          line-height: 3;
          margin: 0 10px; }
    .filter .nav select {
      display: block; }

@media only screen and (min-width: 993px) {
  nav.doc-nav a.sidenav-trigger {
    display: block; } }

.manual {
  color: white;
  font-size: 1.1em;
  background-color: rgba(0, 102, 210, 0.5);
  border-radius: 15px;
  margin: 15px;
  max-height: 500px;
  overflow-y: scroll;
  padding: 15px; }
  .manual h1 {
    border-bottom: 2px solid; }
  .manual .titulo {
    margin: 20px 0; }
  .manual .bloco-texto {
    margin-left: 20px; }
  .manual .subtitulo {
    color: #f9a825;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0; }
  .manual .copyright {
    text-align: center;
    font-weight: bold; }
  .manual .topico {
    font-family: sans-serif;
    font-weight: bold;
    display: block; }

.videos-manual {
  display: flex; }
  .videos-manual .container-videos {
    margin: 50px auto; }
    .videos-manual .container-videos__item {
      frameborder: 0;
      height: 347px;
      width: 640px; }
  .videos-manual .legenda {
    font-size: 1.4em;
    letter-spacing: 2px;
    border-left: 4px solid;
    padding-left: 15px; }

button {
  cursor: pointer; }

body {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; }
