.filter {
  font-family: sans-serif;
  background: transparent; }

nav {
  display: flex;
  flex-direction: column;
  height: auto; }
  nav img {
    height: 100px;
    width: 100px;
    margin: 10px auto; }
  nav .nav-wrapper {
    margin: auto; }
  nav .title {
    color: #26a69a;
    font-family: fantasy;
    font-size: 2em;
    margin: auto;
    text-decoration: underline; }
  nav li {
    font-family: sans-serif;
    font-weight: 600; }

.presentation {
  display: flex;
  flex-direction: column;
  margin: 30px 0; }
  .presentation .title {
    color: #fff;
    font-size: 3em;
    margin: auto; }
  .presentation .presentation__box {
    margin: auto; }

.cadastro {
  height: 100%;
  width: 100%; }
  .cadastro .cadastro__caixa {
    display: block;
    left: 15%;
    position: fixed;
    top: 25%;
    width: 70vw;
    z-index: 2; }
    .cadastro .cadastro__caixa--titulo {
      color: #fff;
      font-family: sans-serif;
      font-size: 3em;
      font-weight: 700;
      display: flex;
      height: 15vh;
      width: 100%; }
      .cadastro .cadastro__caixa--titulo p {
        margin: auto; }
    .cadastro .cadastro__caixa .form-cadastro {
      padding-left: 10px;
      width: -webkit-fill-available; }
    .cadastro .cadastro__caixa .buttons {
      display: flex;
      margin: 20px 0; }
      .cadastro .cadastro__caixa .buttons a {
        margin: auto; }

.main-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 20vh; }

.reports-obj-block {
  width: 100%; }

.filter nav {
  flex-direction: initial;
  padding: 15px 0; }
  .filter nav .nav-title {
    margin-left: 15px; }
  .filter nav .nav-box {
    margin: auto; }
    .filter nav .nav-box p {
      text-align: center; }
  .filter nav select {
    display: block; }

body {
  background-color: #26a69a; }

button {
  cursor: pointer; }
