.filter {
  font-family: "Cuprum", sans-serif;
  background: transparent; }

.nav-wrapper {
  margin: auto; }

nav,
nav.videos-nav {
  font-family: "Playfair Display SC", serif;
  background-color: #383B42;
  box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 210px; }
  nav .nav-icon,
  nav.videos-nav .nav-icon {
    height: 55px !important; }
  nav img,
  nav.videos-nav img {
    margin: 10px 20px;
    width: 150px; }
  nav .title,
  nav.videos-nav .title {
    color: #F6F6EF;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    background-color: #34363A;
    border-bottom: 1px solid rgba(101, 116, 134, 0.57);
    box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
    line-height: 60px;
    margin: 0; }
  nav li,
  nav.videos-nav li {
    border-bottom: 1px solid #42454D;
    border-top: 1px solid #2E3036;
    padding-left: 48px;
    transition: all 0.6s;
    width: -webkit-fill-available; }
    nav li a,
    nav.videos-nav li a {
      color: #b3b3b3;
      font-size: 18px;
      letter-spacing: 1px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      line-height: 55px;
      position: relative;
      transition: all 0.6s; }
  nav .dropdown-content,
  nav.videos-nav .dropdown-content {
    font-weight: 700;
    left: -40px;
    top: -54px; }
    nav .dropdown-content a,
    nav.videos-nav .dropdown-content a {
      color: #444;
      box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset; }

nav.videos-nav {
  box-shadow: 0px -4px 10px rgba(14, 14, 14, 0.48) inset;
  left: unset;
  overflow: scroll;
  right: 0;
  width: 500px; }

.page-title {
  background-color: #fff;
  border-bottom: 1px solid #C0C1C0;
  display: block;
  height: 60px;
  margin-left: 200px; }
  .page-title h2 {
    color: #919191;
    font-size: 20px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px #fff;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
    padding-left: 40px;
    position: relative; }
    .page-title h2::before {
      background-color: #383B42;
      content: '';
      left: -19px;
      height: 36px;
      position: absolute;
      transform: rotate(45deg);
      top: 12px;
      width: 36px; }

.home-title {
  margin-bottom: 100px; }
  .home-title .title,
  .home-title .wellcome {
    color: #565656;
    font-family: "Cuprum", sans-serif;
    text-align: center;
    background: linear-gradient(45deg, rgba(45, 45, 45, 0.8) 9%, rgba(0, 0, 0, 0.8) 100%);
    border-bottom: 4px double rgba(255, 255, 255, 0.25);
    border-top: 4px double rgba(255, 255, 255, 0.25);
    line-height: 1;
    margin: 0;
    padding: 15px 0;
    position: relative; }
    .home-title .title:before,
    .home-title .wellcome:before {
      color: rgba(0, 102, 210, 0.5);
      letter-spacing: 4px;
      text-align: left;
      text-shadow: none;
      animation: flicker 3s linear infinite;
      content: attr(data-heading);
      left: 136px;
      overflow: hidden;
      position: relative;
      width: 100%;
      z-index: 5; }

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px blue, 0 0 15px #ff4444, 0 0 2px blue, 0 2px 3px #000; }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none; } }

.home-descricao {
  color: #fff;
  background-color: rgba(0, 102, 210, 0.5);
  padding: 15px; }

.videos-manual {
  display: flex;
  flex-direction: column;
  width: 70%; }
  .videos-manual .container-videos {
    margin: 40px 10px;
    padding: 15px; }
    .videos-manual .container-videos__item {
      border: 0;
      height: 347px;
      width: 640px; }
  .videos-manual .legenda {
    color: #fff;
    font-size: 1.4em;
    letter-spacing: 2px;
    border-left: 4px solid;
    padding-left: 15px; }
  .videos-manual-title {
    display: block;
    pointer-events: none;
    opacity: 0;
    font-size: 18px;
    color: white;
    background: rgba(0, 102, 210, 0.5);
    text-align: right;
    padding: 2px 12px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all 300ms ease-in-out; }

.manual {
  color: white;
  font-size: 1.1em;
  background-color: rgba(0, 102, 210, 0.5);
  border-radius: 15px;
  margin: 15px;
  max-height: 500px;
  overflow-y: scroll;
  padding: 15px; }
  .manual h1 {
    border-bottom: 2px solid; }
  .manual .titulo {
    margin: 20px 0; }
  .manual .bloco-texto {
    margin-left: 20px; }
  .manual .subtitulo {
    color: #ff5656;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0; }
  .manual .copyright {
    text-align: center;
    font-weight: bold; }
  .manual .topico {
    font-family: "Cuprum", sans-serif;
    font-weight: bold;
    display: block; }

.correcoes {
  /*	
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */ }
  .correcoes .title {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
    border-left: 5px solid;
    line-height: 1em;
    margin-left: 10px;
    padding-left: 10px; }
  .correcoes h2 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #FB667A; }
  .correcoes h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none; }
  .correcoes .with-gap.uncheck:checked + span:after {
    background-color: #fb667a; }
  .correcoes .container {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 10px;
    display: table;
    max-width: 98%; }
    .correcoes .container td,
    .correcoes .container th {
      padding: 2% 10px; }
  .correcoes tr.academico-verify.fixed-error {
    background-color: rgba(107, 255, 146, 0.5) !important;
    transition: 2s; }
  .correcoes tr.academico-verify.error-to-fix {
    background-color: rgba(243, 67, 67, 0.5) !important;
    transition: 2s; }
    .correcoes tr.academico-verify.error-to-fix .with-gap.uncheck:checked + span:after,
    .correcoes tr.academico-verify.error-to-fix .with-gap.uncheck:checked + span:before {
      border: 2px solid #fb667a; }
  @media (max-width: 800px) {
    .correcoes .container td:nth-child(4),
    .correcoes .container th:nth-child(4) {
      display: none; } }

.main-content {
  font-family: "Cuprum", sans-serif;
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  margin-bottom: 20vh; }
  .main-content table.highlight.apo-table > tbody > tr:hover {
    background-color: rgba(119, 128, 195, 0.5); }

.reports-obj-block {
  width: 100%; }

.filter {
  color: #b3b3b3;
  font-size: 18px;
  letter-spacing: 2px; }
  .filter .nav {
    background: #383B42;
    padding: 15px 0; }
    .filter .nav .nav-title {
      margin-left: 15px;
      margin-top: 0;
      padding-top: 0; }
    .filter .nav .nav-box {
      display: flex; }
      .filter .nav .nav-box .filter-box {
        display: flex;
        margin: auto; }
        .filter .nav .nav-box .filter-box p {
          line-height: 3;
          margin: 0 10px; }
    .filter .nav select {
      display: block; }

.presentation {
  display: flex;
  margin: 30px 5px; }
  .presentation .presentation__box {
    margin: auto; }

.cadastro {
  height: 100%;
  width: 100%; }
  .cadastro .cadastro__caixa {
    background: rgba(56, 56, 56, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
    margin: 5px 0 20px 5px;
    overflow: hidden;
    padding: 30px;
    width: 50vw; }
    .cadastro .cadastro__caixa--titulo p {
      color: #fff;
      font-size: 32px;
      font-weight: 600;
      border-left: 5px solid #fff;
      margin: 0 0 35px;
      padding: 10px 0 10px 50px;
      position: relative;
      z-index: 1; }
  .cadastro .form-cadastro {
    color: #212121;
    font-size: 24px;
    font-weight: 400;
    background: none;
    border: 0;
    height: 60px;
    outline: none;
    position: relative;
    width: 100%;
    z-index: 1; }
    .cadastro .form-cadastro:focus {
      width: 100%;
      transition: 2s; }
  .cadastro .buttons {
    display: flex;
    margin: 20px 0; }
    .cadastro .buttons a {
      margin: 20px auto; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 8.75em; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: white; } }

.titulo-component {
  color: #fff;
  font-size: 3em;
  animation: typing 4s steps(16, end);
  margin: 10px 0;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
  white-space: nowrap;
  width: fit-content; }
  .titulo-component span {
    color: #FFF;
    animation: blink-caret 1s step-end infinite;
    border-right: .1em solid;
    position: relative;
    right: 0;
    top: 0;
    width: 0; }

html {
  scroll-behavior: smooth; }
  html body {
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; }
    html body button {
      cursor: pointer; }
    html body .view-container {
      margin-left: 210px; }
    html body .title {
      font-family: "Cuprum", sans-serif; }
