.correcoes {
    /*	
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

  .title {
    color: #fff;
    font-size:3em; 
    font-weight: 700;
    text-align: left;

    border-left: 5px solid;
    line-height:1em;
    margin-left: 10px;
    padding-left: 10px;
  }
  
  h2 {
    font-size:1em; 
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
  }
  
  h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
  }

    .with-gap.uncheck:checked+span:after {
       background-color: #fb667a;
    }
  
  .container {
     text-align: left;
     overflow: hidden;
     width: 100%;
     margin: 0 10px;
     display: table;
     max-width: 98%;

   td, 
   th {
     padding: 2% 10px;
   }

}
      tr {
         &.academico-verify.fixed-error {
            background-color: rgba(107, 255, 146, 0.5) !important;
            transition: 2s;
         }
   
         &.academico-verify.error-to-fix {
            background-color: rgba(243, 67, 67, 0.5) !important;
            transition: 2s;
            .with-gap.uncheck:checked+span:after,
               .with-gap.uncheck:checked+span:before {
                  border: 2px solid #fb667a;
               }
         }
      }
  
  @media (max-width: 800px) {
     .container td:nth-child(4),
     .container th:nth-child(4) { 
        display: none; 
      }
  }
}