header {
    font-family: sans-serif;

    background: $bgSecundario;
    border-bottom: 2px solid #fff;
    padding: 3vh 0;
    .title {
        color: #fff;
        font-size: 3em;
        text-align: center;
    }
}