.home-title {
    margin-bottom: 100px;
    .title,
    .wellcome {
        color: #565656;
        font-family: $mainFont;
        text-align: center;

        background: linear-gradient(45deg, rgba(45,45,45,.8) 9%,rgba(0,0,0,.8) 100%);
        border-bottom: 4px double rgba(255, 255, 255, 0.25);
        border-top: 4px double rgba(255, 255, 255, 0.25);
        line-height: 1;
        margin: 0;
        padding: 15px 0;
        position: relative;
        &:before {
            color: rgba(0, 102, 210, 0.5);
            letter-spacing: 4px;
            text-align: left;
            text-shadow: none;

            animation: flicker 3s linear infinite;
            content: attr(data-heading);
            left: 135px;
            overflow: hidden;
            position: relative;
            width: 100%;
            z-index: 5;
        }
    }
    
    @keyframes flicker {
        0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
            opacity: .99;
            text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px blue, 0 0 15px #ff4444, 0 0 2px blue, 0 2px 3px #000;
        }
        20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
            opacity: 0.4;
            text-shadow: none;
        }
    }

}

.home-descricao {
    color: #fff;

    background-color: rgba(0, 102, 210, 0.5);
    padding: 15px;
}