nav {
    color: #fff;
    font-family: sans-serif;
    text-align: center;

    background: $bgTerciario;
    border-right: 2px solid #fff;
    display: inline-block;
    height: 86.5vh;
    padding: 10px;
    width: max-content;
    p {
        padding: 10px 0;
    }
}