nav {
    color: #fff;
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;

    background: $bgPrincipal;
    border-right: 2px solid #fff;
    display: inline-block;
    height: 86.5vh;
    padding: 10px;
    width: max-content;
    select,
    button {
        font-family: sans-serif;
        text-shadow: 0 1px 0 #444;

        background: linear-gradient(#fff, #444);
        border: 2px solid #555;
        border-radius: 10px;
        height: 30px;
    }
    button {
        color: #fff;

        cursor: pointer;
        background: linear-gradient(#99a2ff, #0010B2);
        border: 1px solid #fff;
        margin-top: 30px;
    }
    p {
        padding: 10px 0;
    }
}