nav {
    display: flex;
    flex-direction: column;
    height: auto;
    img {
        height: 100px;
        width: 100px;
        margin: 10px auto;
    }
    .nav-wrapper {
        margin: auto;
    }
    .title {
        color: #fff;
        font-family: fantasy;
        font-size: 2em;

        margin: auto;
        text-decoration: underline;
    }
    li {
        font-family: sans-serif;
        font-weight: 600;
    }
}