.reports-obj-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    #reports-object {
        font-family: sans-serif;
        text-align: center;

        border-collapse: separate;
        width: 100%;
        thead {
            font-size: 1.4em;
        }
        th {
            text-shadow: 0 1px 0 #444;

            background: linear-gradient(#777, #444);
            border-left: 1px solid #555;
            border-right: 1px solid #777;
            border-top: 1px solid #555;
            border-bottom: 1px solid #333;
            padding: 10px 20px;
        }
        td {
            border: 3px double;
            padding: 10px 20px;
            vertical-align: middle;
        }
    }
    .cadastro {
        font-family: sans-serif;
        
        background: linear-gradient(#fff, #444);
        border: 0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        padding: 50px;
        p {
            font-size: 1.3em;
            text-decoration: underline;

            margin-bottom: 20px;
        }
        input {
            background: transparent;
            border: 0;
            border-bottom: 1px solid #fff;
            display: block;
            margin: 5px 0;
            padding: 4px;
            &:focus {
                outline: black auto 5px;
            }
        }
        ::-webkit-input-placeholder {
            color: #fff;
        }
        button {
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            height: 30px;
            margin: 10px auto;
            width: 5vw;
            &:focus {
                outline: black auto 5px;
            }
        }
    }
}