.main-content {
    font-family: $mainFont;
    font-size: 1.1em;

    background: rgba(255, 255, 255, .6);
    display: flex;
    margin-bottom: 20vh;
    table.highlight.apo-table>tbody>tr:hover {
        background-color: rgba(119, 128, 195, 0.5);
    }
    .remove {
        color: #fff;

        align-items: center;
        padding: 0;
        button {
            color: white;
            font-weight: bold;

            background-image: linear-gradient(to right top, #BB1B1D, #b12222, #a62828, #9b2d2d, #903131);
            border: 2px solid #444;
            border-radius: 5px;
            height: 100%;
            outline: none;
            width: 100%;
        }
    }
}

.reports-obj-block {
    width: 100%;
}

.filter {
    color: #b3b3b3;
    font-size: 18px;
    letter-spacing: 2px;

    .nav {
        background: $cinzaPrincipal;
        padding: 15px 0;
        .nav-title {
            margin-left: 15px;
            margin-top: 0;
            padding-top: 0;
        }
        .nav-box {
            display: flex;
            .filter-box {
                display: flex;
                margin: auto;
                p {
                    line-height: 3;
                    margin: 0 10px;
                }
            }
        }
        select {
            display: block;
        }
    }
}