.manual {
    color: white;
    font-size: 1.1em;
    
    background-color: rgba(0, 102, 210, 0.5);
    display: block;
    margin: auto;
    overflow: hidden;
    padding: 2px;
    transition: 1.5s;
    width: 0;
    &.active {
        padding: 15px;
        transition: width 1.5s;
        width: 100%;
    }
    .conteudo-scrum,
    .conteudo-daki,
    .conteudo-squad {
        display: none;
        &.active {
            display: block;
        }
    }
    h1 {
        border-bottom: 2px solid;
    }
    .titulo {
        margin: 20px 0;
    }
    .bloco-texto {
        margin-left: 20px;
    }
    .subtitulo {
        color: #ff5656;
        font-weight: bold;
        text-decoration: underline;

        margin: 10px 0;
    }
    .copyright {
        text-align: center;
        font-weight: bold;
    }
    .topico {
        font-family: $mainFont;
        font-weight: bold;

        display: block;
    }
}

.tutorial-menu {
    background: #fff;
    box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.75);
    display: flex;
    height: 0;
    justify-content: center;
    overflow: hidden;
    padding-top: 10px;
    transition: height 1.5s;
    width: -webkit-fill-available;
        &.active {
            height: 85px;
            padding-bottom: 15px;
            transition: 1.5;
            .btn-floating {
                margin-top: 65px;
                transition: 1.5s;
            }
        }
    .btn-floating {
        position: absolute;
        transition: 1.5s;
    }
    .box {
        background: linear-gradient(to right, #2e6b9e, #1f1f1f);
        border-radius: 50px;
        margin: 0 20px;
        width: 200px;
        a {
            color: #fff;
            font-family: $mainFont;

            background: #4d4d4d;
            border: 5px solid #fff;
            border-radius: 50px;
            display: block;
            height: 43px;
            margin-left: 9px;
            margin-top: 8px;
            padding: 5px 10px;
            width: 175px;
        }
        .icon {
            align-items: center;
            background: #4d4d4d;
            border: 5px solid #fff;
            border-radius: 50px;
            cursor: pointer;
            bottom: 52px;
            display: flex;
            height: 62px;
            justify-content: center;
            left: 142px;
            position: relative;
            width: 62px;
            i {
                color: #fff;

                margin-left: 0;
            }
        }
        
    }
    @media only screen and (max-width: 1024px) {
        .box {
            margin: 0 4px;
            width: 100px;
            .text {
                font-size: .8em;

                padding: 8px 10px;
                width: 90px;
            }
            .icon {
                left: 56px;
                width: 44px;
            }
        }
    }
    
}

.introducao {
    color: #fff;
    font-family: $fourthFont;

    margin-left: 40px;
}

.conteudo-daki {
    .linha {
        display: flex;
        .daki {
            width: 50%;
        }
    }
}