.videos-manual {
    display: flex;
    flex-direction: column;
    margin-right: 400px;

    .container-videos {
        margin: 40px 10px;
        padding: 15px;
        &__item {
            border: 0;
            height: 347px;
            width: 640px;
        }
        
    }
    .legenda {
        color: #fff;
        font-size: 1.4em;
        letter-spacing: 2px;
        
        border-left: 4px solid;
        padding-left: 15px;
    }
    
        &-title {
            display: block;
            pointer-events: none;
            opacity: 0;
            font-size: 18px;
            color: white;
            background: rgba(0, 102, 210, 0.5);
            text-align: right;
            padding: 2px 12px;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            transition: all 300ms ease-in-out;
    }
}

@media only screen and (max-width: 1024px) {
    .videos-manual {
        align-items: initial;
        margin-right: 0;
        .container-videos {
            margin: 0;
            padding: 0;
            &__item {
                height: auto;
                width: auto;
            }
        }
        .legenda {
            padding: 0 15px;
        }
    }
 }

 #open-indice {
    float: right;
    padding-right: 0;
    z-index: 10;
    i {
        font-size: 1.3rem;

        background: #3d635f8a;
        line-height: inherit;
        width: 45px;
    }
 }