.presentation {
    display: flex;
    margin: 30px 5px;
    .presentation__box {
        margin: auto;
    }
}

.cadastro {
    height: 100%;
    width: 100%;
    &__caixa {
        background: rgba(56, 56, 56, 0.5);
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
        margin: 5px 0 20px 5px;
        overflow: hidden;
        padding: 30px;
        width: 50vw;
        
        &--titulo  p {
                color: #fff;
                font-size: 32px;
                font-weight: 600;

                border-left: 5px solid #fff;
                margin: 0 0 35px;
                padding: 10px 0 10px 50px;
                position: relative;
                z-index: 1;
            }
        }
        @media only screen and (max-width: 1024px) {
            .cadastro__caixa {
                width: 96%;
            }
         }
        .form-cadastro {
            color: #212121;
            font-size: 24px;
            font-weight: 400;

            background: none;
            border: 0;
            height: 60px;
            outline: none;
            position: relative;
            width: 100%;
            z-index: 1;
            &:focus {
                width: 100%;
                transition: 2s;
            }
        }
        .buttons {
            display: flex;
            margin: 20px 0;
            a {
                margin: 20px auto;
            }
        }
    }
