.presentation {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    .title {
        font-size: 3em;

        border-left: 5px solid;
        margin: auto;
        padding-left: 10px;
    }
    .presentation__box {
        margin: auto;
    }
}

.cadastro {
    height: 100%;
    width: 100%;
    .cadastro__caixa {
        background: rgba(56, 56, 56, 0.5);
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
        margin: 20px auto;
        overflow: hidden;
        padding: 30px;
        width: 343px;
        &--titulo  p {
                color: #111;
                font-size: 32px;
                font-weight: 600;

                border-left: 5px solid #111;
                margin: 0 0 35px;
                padding: 10px 0 10px 50px;
                position: relative;
                z-index: 1;
            }
        }
        .form-cadastro {
            color: #212121;
            font-size: 24px;
            font-weight: 400;

            background: none;
            border: 0;
            height: 60px;
            outline: none;
            position: relative;
            width: 100%;
            z-index: 1;
            &:focus {
                width: 100%;
                transition: 2s;
            }
        }
        .buttons {
            display: flex;
            margin: 20px 0;
            a {
                margin: 20px auto;
            }
        }
    }
