.presentation {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    .title {
        color: #f57f17;
        font-size: 3em;

        margin: auto;
    }
    .presentation__box {
        margin: auto;
    }
}

.cadastro {
    height: 100%;
    width: 100%;
    .cadastro__caixa {
        background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
        overflow: hidden;
        margin: 20px auto;
        &--titulo {
            color: #fff;
            font-family: sans-serif;
            font-size: 3em;
            font-weight: 700;

            display: flex;
            height: 15vh;
            width: 100%;
            p {
                margin: auto;
            }
        }
        .form-cadastro {
            border-bottom: 0;
            display: block;
            padding-left: 10px;
            width: 20%;
            &:focus {
                width: 100%;
                transition: 2s;
            }
        }
        .buttons {
            display: flex;
            margin: 20px 0;
            a {
                margin: 20px auto;
            }
        }
    }
}
