<section class="presentation">
    <div class="presentation__box">
        <a ng-click="vm.activateX()" class="btn-floating btn-large waves-effect waves-light blue darken-4"><i
                class="material-icons">add</i></a>
    </div>
</section>
<section class="cadastro" ng-show="vm.activate">
    <div class="cadastro__caixa">
        <div class="cadastro__caixa--titulo">
            <p>Cadastre um novo relatório</p>
        </div>
        <input ng-model="vm.apostila.sprint" class="form-cadastro" type="text" placeholder="Sprint">
        <input ng-model="vm.apostila.obj2" class="form-cadastro" type="text" placeholder="Apostila">
        <input ng-model="vm.apostila.feito" class="form-cadastro" type="text" placeholder="Feito">
        <input ng-model="vm.apostila.falta" class="form-cadastro" type="text" placeholder="Falta">
        <input ng-model="vm.apostila.impedimentos" class="form-cadastro" type="text" placeholder="Impedimentos">
        <input ng-model="vm.apostila.situacao" class="form-cadastro" type="text" placeholder="Situação">
        <div class="buttons">
            <a ng-click="vm.cadastraRelatorio()" class="waves-effect waves-light btn-small green darken-2"><i
                    class="material-icons left">done</i>Salvar</a>
            <a ng-click="vm.activateX()" class="waves-effect waves-light btn-small red darken-1"><i
                    class="material-icons left">do_not_disturb</i>Encerrar</a>
        </div>
    </div>
</section>