<section class="presentation">
    <p class="title">Relatórios</p>
    <div class="presentation__box">
        <p class="presentation__box--title">Cadastrar novo relatório</p>
        <button ng-click="vm.activateX()" class="mostra-cadastro">
            <span></span>
        </button>
    </div>
</section>
<section class="cadastro" ng-show="vm.activate">
    <button ng-click="vm.activateX()" class="fecha-cadastro">X</button>
    <comp class="cadastro__caixa">
        <div class="cadastro__caixa--titulo">
            <p>Cadastre um novo relatório</p>
        </div>
        <input ng-model="vm.apostila.sprint" class="form-cadastro" type="text" placeholder="Sprint">
        <input ng-model="vm.apostila.apostila" class="form-cadastro" type="text" placeholder="Apostila">
        <input ng-model="vm.apostila.feito" class="form-cadastro" type="text" placeholder="Feito">
        <input ng-model="vm.apostila.falta" class="form-cadastro" type="text" placeholder="Falta">
        <input ng-model="vm.apostila.impedimentos" class="form-cadastro" type="text" placeholder="Impedimentos">
        <input ng-model="vm.apostila.situacao" class="form-cadastro" type="text" placeholder="Situação">
        <button ng-click="vm.cadastraRelatorio()">Cadastrar</button>
    </comp>
</section>