<section class="correcoes">

    <h1 class="title">Planilha de erros</h1>


    <table class="container">
        <thead>
            <tr>
                <th>
                    <h1>Porcentagem</h1>
                </th>
                <th>
                    <h1>Página</h1>
                </th>
                <th>
                    <h1>Erro</h1>
                </th>
                <th>
                    <h1>Status Acad</h1>
                </th>
                <th>
                    <h1>Acadêmico</h1>
                </th>
                <th>
                    <h1>Status Dev</h1>
                </th>
                <th>
                    <h1>Dev</h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12%</td>
                <td>08</td>
                <td>No trecho "bla bla bla bla bla bla bla" retirar o negrito da palavra "bla" e colocar em itálico.
                </td>
                <td>X</td>
                <td>Xênia</td>
                <td>OK</td>
                <td>JP</td>
            </tr>
        </tbody>
    </table>

</section>