<section class="correcoes">

        <titulo data="vm.dataText"></titulo>

    <div class="main-content">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Apostila</th>
                    <th>Semana</th>
                    <th>Feito</th>
                    <th>Falta</th>
                    <th>Impedimentos</th>
                    <th>Situação</th>
                </tr>
            </thead>

            <tbody>
                <tr class="academico-verify" id="academico-verify">
                    <td>R+ GO 15</td>
                    <td>12%</td>
                    <td>08</td>
                    <td>No trecho " bla bla bla bla bla bla bla" retirar o negrito da palavra "bla" e colocar
                        em itálico. </td>
                    <td>
                        <label>
                            <input class="with-gap" name="group1" type="radio" ng-click="vm.errorFixed()"
                                value="true" />
                            <span>OK</span>
                        </label>
                        <label>
                            <input class="with-gap uncheck" name="group1" type="radio" ng-click="vm.toFix()"
                                value="true" />
                            <span>X</span>
                        </label>
                    </td>
                    <td>Xênia</td>
                    <td>
                        <label>
                            <input class="with-gap dev-check" name="group2" type="radio" ng-click="errorCheck()"
                                ng-model="errfixedError" value="true" />
                            <span>OK</span>
                        </label>
                    </td>
                    <td>JP</td>
                </tr>
            </tbody>

        </table>
    </div>

</section>