.main-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 20vh;
}

.reports-obj-block {
    width: 100%;
}

.filter {
    nav {
        flex-direction: initial;
        padding: 15px 0;
        .nav-title {
            margin-left: 15px;
        }
        .nav-box {
            margin: auto;
            p {
                text-align: center;
            }
        }
        select {
            display: block;
        }
    }
}