.main-content {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.reports-obj-block {
    width: 100%;
}

#reports-object {
    font-family: sans-serif;

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    .reports-box {
        font-family: sans-serif;
        text-align: center;

        background: #111;
        display: inline-block;
        margin: 50px auto;
        padding: 0 15px;
        width: 40%;
        &:hover {
            margin: 0 auto !important;
            transition: 1s;
        }
        .nome-apostila {
            color: #fff;
            font-size: 2em;

            border-bottom: 1px solid #908f8f;
            display: block;
            margin-bottom: 10px;
            padding: 10px;
        }
        .sprint-apostila {
            color: #fff;

            border-radius: 50%;
            background: #292b2e;
            display: flex;
            height: 100px;
            margin: 0 auto 20px;
            width: 100px;
            &__text {
                margin: auto;
            }
        }
        .feito-apostila,
        .falta-apostila,
        .impedimentos-apostila,
        .situacao-apostila {
            color: #999999;

            display: block;
            min-height: 50px;
        }
        .change-reports {
            color: #fff;
            font-weight: bold;

            background: #292b2e;
            border: 0;
            margin-bottom: 10px;
            padding: 10px 40px;
        }
    }
}