
    <section class="main-content">

        <div class="reports-obj-block">
            <div id="reports-object">
                <div class="reports-box" ng-repeat="value in vm.apostilaArray | filter:sprint | filter:apostila | filter:feito | filter:falta | filter:impedimentos | filter:situacao">
                    <div class="nome-apostila">{{value.apostila}}</div>
                    <div class="sprint-apostila">
                        <div class="sprint-apostila__text">{{value.sprint}}</div>
                    </div>
                    <div class="feito-apostila">{{value.feito}}</div>
                    <div class="falta-apostila">{{value.falta}}</div>
                    <div class="impedimentos-apostila">{{value.impedimentos}}</div>
                    <div class="situacao-apostila">{{value.situacao}}</div>
                    <button class="change-reports">Modificar</button>
                </div>
            </div>
        </div>

    </section>