@import '_partials/variables',
'_partials/filter',
'_partials/nav',
'../components/cadastro/cadastro.component.scss',
'../components/listagem-apostilas/listagem-apostilas.component.scss';

body {
    background-color: #5c5463;
    background-image: radial-gradient(circle at top, #33263a 0%, #b3a4c7 40%);
}
button {
    cursor: pointer;
}
