@import '_partials/variables',
'_partials/filter',
'_partials/nav',
'_partials/home',
'_partials/videos',
'_partials/tutorial',
'_partials/academico',
'_partials/tabelas',
'../components/cadastro/cadastro.component.scss',
'../components/titulo/titulo.component.scss';

html {
    scroll-behavior: smooth;
    
    body {
        background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        button {
            cursor: pointer;
        }

        .view-container {
            margin-left: 242px;
        }
        
        .title {
            font-family: $mainFont;
        }
    }
}