@import '_partials/variables',
'_partials/filter',
'_partials/nav',
'_partials/home',
'_partials/videos',
'_partials/tutorial',
'_partials/academico',
'_partials/tabelas',
'../components/cadastro/cadastro.component.scss',
'../components/titulo/titulo.component.scss';

html {
    scroll-behavior: smooth;
    
    body {
        background: url(../img/bg.jpg) no-repeat fixed top;
        background-size: cover;
        
        button {
            cursor: pointer;
        }

        .view-container {
            margin-left: 242px;
        }
        @media only screen and (max-width: 1024px) {
            .view-container {
                margin-left: 0;
            }
         }
        
        .title {
            font-family: $mainFont;
        }
    }
}